#myVideo {
    width: 70%;
    height: 30%;
      
}

.mr-3 {
    height: 128px;
    width: 128px;
}

.p {
    display: flex;
    justify-content: center;
    padding: 1rem;

}

.home {
    background-color: #383c4a;
}

/* html, body {
    height: 100%;

  } */

* {
    font-family: 'Exo', sans-serif;
    /* background-color: #333A41; */

}